
@model FFK.ViewModels.StoryViewModel
@using FFK.Models


@{
    ViewData["Title"] = "Home Page";
    
}



@if(User.Identity.IsAuthenticated)  {
      
<a class="btn btn-link" asp-action="CreateStory" asp-controller="Story"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
</svg></a>
}
      



        <ul style="list-style-type: none" class="border-dark">
            
            @foreach (var item in Model.Stories)
            {
                <li>
                    <div class="media">
                        @*<img class="align-self-center mr-3" src="..." alt="Generic placeholder image">*@
                        <div class="media-body">
                            <h4 class="mt-0">@Html.DisplayFor(modelItem => item.Title)</h4>


                            <p class="mt-0"><i>@Html.DisplayFor(modelItem => item.Category.Name)</i></p>


                            <p class="text-lg-right">@Html.DisplayFor(modelItem => item.User.UserName)</p>
                            

                            <p class="text-lg-right">
                                @foreach (var tag in item.Tags)
                                {
                                    <b class="btn-info">@tag.Name.ToString()</b>
                                    <span>&nbsp;</span>

                                }

                            </p>


                            <p class="mt-0">@Html.DisplayFor(modelItem => item.Lead)</p>
                            <p><a class="nav-link" asp-area="" asp-controller="Story" asp-action="ReadSelectStory" asp-route-id="@item.Id">Read...</a></p>
                            @if (item.User.UserName == User.Identity.Name)
                                {
                        <p><a class="nav-link" asp-area="" asp-controller="Story" asp-action="Edit" asp-route-id="@item.Id">Edit...</a></p>
                                }
                        </div>
                    </div>


                </li>

            }

        </ul>
        <style>
            @@font-face {
                font-family: 'FontAwesome';
                src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
                font-weight: normal;
                font-style: normal
            }

            .glyphicon {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale
            }

            .glyphicon-chevron-right:before {
                content: "\f054";
            }

            .glyphicon-chevron-left:before {
                content: "\f053";
            }
        </style>


        <div class="d-flex justify-content-center">
            @if (Model.Pagination.HasPreviousPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.Pagination.PageNumber - 1)"
                   class="btn btn-outline-dark d-flex align-self-center">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Back
                </a>
            }
            @if (Model.Pagination.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.Pagination.PageNumber + 1)"
                   class="btn btn-outline-dark justify-content-xl-center">
                    Forward
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            }
        </div>

    