@model FFK.ViewModels.StoryViewModel
@using FFK.Models
@{
    ViewData["Title"] = "AdminPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row border-dark">
    <div class="col-md-2">
        @await Html.PartialAsync("_AdminPageLayout")
    </div>
    <div div class="col-md-10">
        <form asp-controller="Story">

            <table class="table table-bordered">
                <tr>
                    <th><input type="checkbox" id="check_all" onclick="CheckAll('chek', this)">Check All</th>
                    <th>Title</th>
                    <th>Lead</th>
                    <th>Category</th>
                    <th>Author</th>

                    <th><input class="btn btn-sm btn-danger" type="submit" name="submit" value="Delete" formmethod="post" formaction="~/Story/MultiplyStoryDelete" /></th>
                </tr>
                @foreach (var story in Model.Stories)
                {
                    <tr>

                        <td><input type="checkbox" name="storiesIds" value="@story.Id" class="chek"></td>

                        <td>@Html.DisplayFor(model => story.Title)</td>
                        <td>@Html.DisplayFor(model => story.CreatingDate)</td>
                        <td>@Html.DisplayFor(model => story.Category.Name)</td>
                        <td>@Html.DisplayFor(model => story.User.UserName)</td>


                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="ReadSelectStory" asp-controller="Story" asp-route-id="@story.Id">Read</a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Story" asp-route-id="@story.Id">Edit Story</a>
                        </td>

                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="User" asp-route-id="@story.User.Id">Edit Author info</a>
                        </td>
                    </tr>
                }
            </table>
        </form>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>


<script>
    function CheckAll(className, elem) {
        var elements = document.getElementsByClassName(className);
        var l = elements.length;

        if (elem.checked) {
            for (var i = 0; i < l; i++) {
                elements[i].checked = true;
            }
        } else {
            for (var i = 0; i < l; i++) {
                elements[i].checked = false;
            }
        }
    }

</script>